<%= form_for(@ad) do |f| %>
  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar Anúncio" %>
  </div>
<% end %>
